@font-face {
    font-family: "Bookinsanity";
    src: url("/holiday-party/fonts/5e/Bookinsanity/Bookinsanity.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Bookinsanity Bold Italic";
    src: url("/holiday-party/fonts/5e/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Bookinsanity Bold";
    src: url("/holiday-party/fonts/5e/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bookinsanity Italic";
    src: url("/holiday-party/fonts/5e/Bookinsanity/Bookinsanity Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Nodesto Caps Condensed";
    src: url("/holiday-party/fonts/5e/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Nodesto Caps Condensed Bold";
    src: url("/holiday-party/fonts/5e/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("/holiday-party/fonts/5e/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Scaly Sans";
    src: url("/holiday-party/fonts/5e/Scaly Sans/Scaly Sans.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Scaly Sans Italic";
    src: url("/holiday-party/fonts/5e/Scaly Sans/Scaly Sans Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Scaly Sans Bold Italic";
    src: url("/holiday-party/fonts/5e/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Scaly Sans Bold";
    src: url("/holiday-party/fonts/5e/Scaly Sans/Scaly Sans Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Scaly Sans Caps Bold";
    src: url("/holiday-party/fonts/5e/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Dungeon Drop Case";
    src: url("/holiday-party/fonts/5e/Dungeon Drop Case/Dungeon Drop Case.otf") format("opentype");
    font-weight: normal;
}

