---
title: Northwest Marches
---

h2 = current_page.data.title

p
  | This little website is a place for me to publish myself. Who am I? I'm a 40-something person (he/him) who works as a software engineer, was educated as a philosopher, and likes to think about (and play) Dungeons &amp; Dragons.

p
  | The name Northwest Marches comes from a brief attempt at a large group campaign in, loosely, the west marches style in Seattle, 2019 (perhaps you can guess why it ended in 2020). I purchased this domain to publish the rules document we created for it, and later decided to repurpose it for my own purposes.
